<div class="container container__basket">
  <p class="basket-header">Корзина</p>
  <p class="no-item" *ngIf="!(basketItems | async)?.length; else list">
    В корзине нет товаров
  </p>
  <ng-template #list>
    <div class="basket-item" *ngFor="let item of basketItems | async">
      <p class="basket-item__description">{{item.description}}</p>
      <div class="basket-item__actions">
        <mat-form-field class="basket-item__input">
          <input matInput type="number" placeholder="Количество тонн" appIntString [defaultValue]="'1'"
                 [maxLengthNum]="3" [ngModel]="item.count" (ngModelChange)="editItem(item.id, +$event)"/>
        </mat-form-field>
        <button class="basket-item__delete" (click)="deleteItem(item.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </ng-template>
  <a class="basket-item__link" [routerLink]="['/product-list']">Вернуться к списку товаров</a>
</div>
